* {
    margin: 0;
    padding: 0;
}

/* MAIN STRUCTURE */

#app {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Main-Container {

    border: 5px solid orange;
    width: 700px;
    max-width: 800px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Choice-Menu {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Main-Board {
    border: 5px solid orange;
    border-radius: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    background: black;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
}

/*.Board {*/
/*width: auto;*/
/*background: darkorange;*/
/*}*/

.Text-Bar {
    width: 100%;
    padding-top: 10px;
    color: black;
    font-weight: 900;
    text-transform: capitalize;
}

/* ELEMENTS */
.Board-Button {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid black;

}

.Mine-Field {
    background: red;
}

.Field {
    background: slategray;
}

#input {
    max-width: 100px;
}

.Row-One {
    background: purple;
}