* {
    margin: 0;
    padding: 0;
}

/* MAIN STRUCTURE */

#app {
    display: flex;
    justify-content: center;
    text-align: center;
}

.Main-Container {
    width: 700px;
    max-width: 800px;
    background: lightskyblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Choice-Menu {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Main-Board {
    width: 300px;
    background: black;
    flex-direction: column;
    display: flex;
    flex-wrap: nowrap;
}
/*.Board {*/
    /*width: auto;*/
    /*background: darkorange;*/
/*}*/

.Text-Bar {
    background: black;
    color: white;
}

/* ELEMENTS */
.Board-Button {
    display: inline-block;
    min-width: 20px;
    min-height: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid black;

}

.Mine-Field {
    background: slategray;
}

.Field {
    background: slategray;
}

#input {
    max-width: 100px;
}

.Row-One {
    background: purple;
}